header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

main {
    background-color: #fff;
    color: #fff;
}

footer {
    background-color: #fff;
}

nav {
    padding: 0;
}
